<h3>Znajdź pokemona po numerze</h3>
<form (ngSubmit)="updateFindQuery()">
  <div>
    <label>
      Name: <input type="number" name="number" [(ngModel)]="pokemonNumber">
    </label>
  </div>
  <input type="submit">
</form>

<h3>Pokemon details</h3>
<h5>Details of Pokemon with Pokedex National number: {{foundPokemon.number}}</h5>
<h5>Name: {{foundPokemon.name}}</h5>
<h6>HP: {{foundPokemon.hp}}</h6>
<h6>Attack: {{foundPokemon.attack}}</h6>
<h6>Defense: {{foundPokemon.defense}}</h6>
<h6>Special Attack: {{foundPokemon.specialAttack}}</h6>
<h6>Special Defense: {{foundPokemon.specialDefense}}</h6>
<h6>Speed: {{foundPokemon.speed}}</h6>
<h6>Primary Type: {{foundPokemon.primaryType}}</h6>
<h6>Secondary Type: {{foundPokemon.secondaryType}}</h6>
<p>Description: {{foundPokemon.description}}</p>
